In [ ]:
# instalando a biblioteca pandas 
!pip install pandas

In [3]:
# importando a biblioteca pandas
import pandas as pd

In [4]:
# Criando um dicionario
Dicionario = {
    'A':[1,2,3],
    'B':[-3,-2,-1],
    'C':[0,10,20]
}
Label = ['1ª Linha','2ª Linha','3ª Linha']
Dataframe_01= pd.DataFrame(Dicionario,index=Label)
print(Dataframe_01)

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [5]:
# Exibindo as colunas A e B
Dataframe_01[['A','B']]

          A  B
1ª Linha  1 -3
2ª Linha  2 -2
3ª Linha  3 -1

In [6]:
# Criando uma coluna nova no Dataframe
Dataframe_01['Nova coluna'] = Dataframe_01['A'] *Dataframe_01['B']

In [ ]:
Dataframe_01 # Exibe o dataframe

          A  B   C  Nova coluna
1ª Linha  1 -3   0           -3
2ª Linha  2 -2  10           -4
3ª Linha  3 -1  20           -3